@{
    ViewData["Title"] = "Home";
}

<div class="container border rounded">
    <h1>Welcome</h1>
    <p>This website contains few methods of choosing color palettes.</p>
</div>
<div class="container border rounded">
    <h3><a href="/BrandColor">Brand-Supporting-Neutral Model</a></h3>
    <p>This method is a consistent way of creating good looking UI color palette.</p>
</div>
<div class="container border rounded">
    <h3><a href="/OneColorPalette">One Color Palette</a></h3>
    <p>This method is trick for generating a set of colors originating from single choosen color that can be used for creating palettes.</p>
</div>
<div class="container border rounded">
    <h3><a href="/ColorWheel">Color Harmony Rules</a></h3>
    <p>Tool for choosing colors with application of classic color harmony rules.</p>
</div>
